body {
    background-color: rgb(20, 20, 120);
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/greybackground.jpg");
    font-family: sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(0, 179, 255);
    
}
a:hover{
    background-color: rgba(255, 255, 255, 0.349);
}



nav {
    display: block;
    left: 0;
    top: 0;
    text-transform: uppercase;
    
    padding: 30px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(46, 46, 46);
    height: 5vh;
    margin-bottom: 2%;
}
.menu{
    background: none;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.nav-items{
    background: none;
    color: white;
    text-decoration: none;
    font-size: 120%;
}

.nav-items:hover{
    cursor: pointer;
    text-decoration: underline;

}
.introHeader {
    text-align: center;
    margin: 50px;
}

#projects>h2 {
    text-align: center;
}

.projects-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
}

.projects-inner .proj-container {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.proj-container {
    align-items: center;
}

.proj-container>.title {
    margin-bottom: 0.7rem;
}

.projects-inner-imgtext {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.projectbox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1500px;
    gap: 50px;
   
}
.projectbox > h2{
    margin-top: 25px;
    text-align: center;
}
.projectbox-inner{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
}
.projectbox-img-container{
    width: 30%;
}
.projectbox-img-container > img{
    width: 100%;
    object-fit: contain;
}
.projectbox-textcon{
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 120%;
}



.project1 {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;

}

.About-me{
    height: 100vh;
    padding: 150px;
}

#AbtmeNav{
    display: flex;
}

.projectHeader{
    margin: 50px;
}

.projectWrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.projectWrapper > p{
    width: 50%;
    padding: 0 50px;
}
.projectWrapper > img{
    width: 50%;
    padding: 0 50px;

}
.sitepics{
    display: flex;
    flex-direction: row;

}
.contact {
    text-align: center;
    font-size: 110%;
    flex-direction: column;
}
