body {
    background-color: rgb(20, 20, 120);
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("img/greybackground.jpg");
    font-family: sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: blue;
    
}
a:hover{
    background-color: rgba(255, 255, 255, 0.349);
}



nav {
    display: block;
    left: 0;
    top: 0;
    text-transform: uppercase;
    border: #fffcfc 2px solid;
    padding: 30px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(46, 46, 46);
    height: 5vh;
}
.menu{
    background: none;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.nav-items{
    background: none;
    color: white;
    text-decoration: none;
    font-size: 120%;
}

.nav-items:hover{
    cursor: pointer;
    text-decoration: underline;

}
.introHeader {
    text-align: center;
    margin: 50px;
}

#projects>h2 {
    text-align: center;
}

.projects-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
}

.projects-inner .proj-container {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.proj-container {
    align-items: center;
}

.proj-container>.title {
    margin-bottom: 0.7rem;
}

.projects-inner-imgtext {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.contact {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2vh;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #ffffff;
    min-height: 15vh;
    background: rgb(46, 46, 46);
}

#contact-info {
    margin-top: 1vh;
    float: left;
    display: flex;
    color: #ffffff;
    align-items: auto;
    justify-content: center;
}

#contacth3 {
    display: flex;
    align-items: end;
}

.project1 {
    display: flex;
    margin: auto;
    text-align: center;
    flex-direction: column;

}

.About-me{
    height: 100vh;
    padding: 150px;
}

.projectHeader{
    margin: 50px;
}

.projectWrapper{
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.projectWrapper > p{
    width: 50%;
    padding: 0 50px;
}
.projectWrapper > img{
    width: 50%;
    padding: 0 50px;

}
